openapi: 3.1.0
info:
  title: Amazon Kinesis Video Streams Signaling Channels API
  description: The Amazon Kinesis Video Streams API provides programmatic access to manage Kinesis Video Streams resources.
  version: '2024-01-01'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
servers:
- url: https://kinesisvideo.us-east-1.amazonaws.com
  description: Amazon Kinesis Video Streams endpoint
security:
- sigv4: []
tags:
- name: Signaling Channels
  description: WebRTC signaling channel management
paths:
  /channels:
    post:
      operationId: CreateSignalingChannel
      summary: Amazon Kinesis Video Streams Create Signaling Channel
      description: Creates a signaling channel.
      tags:
      - Signaling Channels
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: ListSignalingChannels
      summary: Amazon Kinesis Video Streams List Signaling Channels
      description: Returns an array of ChannelInfo objects.
      tags:
      - Signaling Channels
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /channels/{ChannelName}:
    get:
      operationId: DescribeSignalingChannel
      summary: Amazon Kinesis Video Streams Describe Signaling Channel
      description: Returns the most current information about the signaling channel.
      tags:
      - Signaling Channels
      parameters:
      - name: ChannelName
        in: path
        required: true
        schema:
          type: string
        description: The name of the channel.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: DeleteSignalingChannel
      summary: Amazon Kinesis Video Streams Delete Signaling Channel
      description: Deletes a specified signaling channel.
      tags:
      - Signaling Channels
      parameters:
      - name: ChannelName
        in: path
        required: true
        schema:
          type: string
        description: The name of the channel.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication
