openapi: 3.1.0
info:
  title: Amazon Kinesis Video Streams API
  description: The Amazon Kinesis Video Streams API provides programmatic access to manage Kinesis Video Streams resources.
  version: '2024-01-01'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
servers:
- url: https://kinesisvideo.us-east-1.amazonaws.com
  description: Amazon Kinesis Video Streams endpoint
security:
- sigv4: []
tags:
- name: Streams
  description: Video stream management
- name: Signaling Channels
  description: WebRTC signaling channel management
paths:
  /streams:
    post:
      operationId: CreateStream
      summary: Amazon Kinesis Video Streams Create Stream
      description: Creates a new Kinesis video stream.
      tags:
      - Streams
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: ListStreams
      summary: Amazon Kinesis Video Streams List Streams
      description: Returns an array of StreamInfo objects.
      tags:
      - Streams
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /streams/{StreamName}:
    get:
      operationId: DescribeStream
      summary: Amazon Kinesis Video Streams Describe Stream
      description: Returns the most current information about the specified stream.
      tags:
      - Streams
      parameters:
      - name: StreamName
        in: path
        required: true
        schema:
          type: string
        description: The name of the stream.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: UpdateStream
      summary: Amazon Kinesis Video Streams Update Stream
      description: Updates stream metadata, such as the device name and media type.
      tags:
      - Streams
      parameters:
      - name: StreamName
        in: path
        required: true
        schema:
          type: string
        description: The name of the stream.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: DeleteStream
      summary: Amazon Kinesis Video Streams Delete Stream
      description: Deletes a Kinesis video stream and the data contained in the stream.
      tags:
      - Streams
      parameters:
      - name: StreamName
        in: path
        required: true
        schema:
          type: string
        description: The name of the stream.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /channels:
    post:
      operationId: CreateSignalingChannel
      summary: Amazon Kinesis Video Streams Create Signaling Channel
      description: Creates a signaling channel.
      tags:
      - Signaling Channels
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: ListSignalingChannels
      summary: Amazon Kinesis Video Streams List Signaling Channels
      description: Returns an array of ChannelInfo objects.
      tags:
      - Signaling Channels
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /channels/{ChannelName}:
    get:
      operationId: DescribeSignalingChannel
      summary: Amazon Kinesis Video Streams Describe Signaling Channel
      description: Returns the most current information about the signaling channel.
      tags:
      - Signaling Channels
      parameters:
      - name: ChannelName
        in: path
        required: true
        schema:
          type: string
        description: The name of the channel.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: DeleteSignalingChannel
      summary: Amazon Kinesis Video Streams Delete Signaling Channel
      description: Deletes a specified signaling channel.
      tags:
      - Signaling Channels
      parameters:
      - name: ChannelName
        in: path
        required: true
        schema:
          type: string
        description: The name of the channel.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication
  schemas:
    Stream:
      type: object
      description: An Amazon Kinesis Video Stream.
      properties:
        StreamName:
          type: string
          description: The name of the stream.
          example: my-video-stream
        StreamARN:
          type: string
          description: The Amazon Resource Name (ARN) of the stream.
        Status:
          type: string
          description: The status of the stream.
          example: ACTIVE
          enum:
          - CREATING
          - ACTIVE
          - UPDATING
          - DELETING
        DataRetentionInHours:
          type: integer
          description: How long the channel retains data (in hours).
          example: 24
        CreationTime:
          type: string
          description: When the stream was created.
          format: date-time
    Channel:
      type: object
      description: An Amazon Kinesis Video Streams signaling channel for WebRTC.
      properties:
        ChannelName:
          type: string
          description: The name of the signaling channel.
          example: my-webrtc-channel
        ChannelARN:
          type: string
          description: The ARN of the signaling channel.
        ChannelType:
          type: string
          description: The type of the signaling channel.
          example: SINGLE_MASTER
          enum:
          - SINGLE_MASTER
          - FULL_MESH
        ChannelStatus:
          type: string
          description: The status of the signaling channel.
          example: ACTIVE
          enum:
          - CREATING
          - ACTIVE
          - UPDATING
          - DELETING
        CreationTime:
          type: string
          description: When the channel was created.
          format: date-time
